
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Iletisim.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="[ info-card ]">
                
                <img style="width: 100%" src="~/Uploads/20882095_10154171918832537_1372264571384164750_n.jpg" />
                <div class="[ info-card-details ] animate">
                    <div class="[ info-card-header ]">
                        <h1> Yunus Ünver </h1>
                        <h3> Fırat Üniversitesi </h3>
                    </div>
                    <div class="[ info-card-detail ]">
                        <!-- Description -->
                        <p>İletişim adreslerim</p>
                        <div class="social">
                            <a href="https://www.facebook.com/S.Muneez" class="[ social-icon facebook ] animate"><span class="fa fa-facebook"></span></a>
                            
                            <a href="https://github.com/yunusunver" class="[ social-icon github ] animate"><span class="fa fa-github-alt"></span></a>
                            
                            <a href="https://www.linkedin.com/in/yunusunver/" class="[ social-icon linkedin ] animate"><span class="fa fa-linkedin"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</div>

